In [15]:
!pip install MySQLdb

ERROR: Could not find a version that satisfies the requirement MySQLdb
ERROR: No matching distribution found for MySQLdb

In [1]:
import mysql.connector
from mysql.connector import Error
from sqlalchemy import create_engine

In [2]:
import pandas as pd

In [3]:
# set values to required parameters
host_name = 'localhost'
db_name = 'bookhub'
u_name = 'root'
u_pass = '1234'
port_num= 3306  #default port for MySQL

In [17]:
my_eng= create_engine('mysql+mysqlconnector://' + u_name + ':' + u_pass + '@' + host_name +':'+ str(port_num)+ '/'+db_name , echo=False)

In [5]:
df=pd.read_csv('Processed_Books.csv')
df.head(5)

,Desc,author,genre,url,rating,title
0,We know that power is shifting: From West to E...,Moisés Naím,Business,https://i.gr-assets.com/images/S/compressed.ph...,3.63,The End of Power: From Boardrooms to Battlefie...
1,Following the success of The Accidental Billio...,Blake J. Harris,Business,https://i.gr-assets.com/images/S/compressed.ph...,3.94,"Console Wars: Sega, Nintendo, and the Battle t..."
2,How to tap the power of social software and ne...,Chris Brogan,Business,https://i.gr-assets.com/images/S/compressed.ph...,3.78,Trust Agents: Using the Web to Build Influence...
3,William J. Bernstein is an American financial ...,William J. Bernstein,Business,https://i.gr-assets.com/images/S/compressed.ph...,4.20,The Four Pillars of Investing
4,Amazing book. And I joined Steve Jobs and many...,Akio Morita,Business,https://i.gr-assets.com/images/S/compressed.ph...,4.05,Made in Japan: Akio Morita and Sony

In [8]:
df.rename(columns = {'Desc':'descp'}, inplace = True)
df.head(2)

,descp,author,genre,url,rating,title
0,We know that power is shifting: From West to E...,Moisés Naím,Business,https://i.gr-assets.com/images/S/compressed.ph...,3.63,The End of Power: From Boardrooms to Battlefie...
1,Following the success of The Accidental Billio...,Blake J. Harris,Business,https://i.gr-assets.com/images/S/compressed.ph...,3.94,"Console Wars: Sega, Nintendo, and the Battle t..."

In [15]:
df.describe()

            rating
count  2382.000000
mean      3.995223
std       0.217733
min       3.080000
25%       3.870000
50%       4.000000
75%       4.140000
max       4.650000

In [20]:
d=[]
for i in range(2382):
    d.append(len(df['descp'][i]))
print(max(d))

8594

In [21]:
df.to_sql(name='books', con=my_eng, if_exists= 'append', index=False)